<div class="footer-section">
    <div class="about-right-icon">
        <figure class="footer-icon"><img src="/images/footer-left.png" alt="" class="img-fluid">
        </figure>
    </div>
    <div class="footer-outer-margin" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="footer-content1" data-aos="flip-left">
                        <figure>
                            <a href="/listings"><img src="/images/redlight-logo.png" alt="" class="logo2" /></a>
                        </figure>
                        <p class="red-light-footer-p">Protecting important systems needs expert knowledge and strong
                            security. Our cybersecurity solutions help keep your
                            organization safe from new threats, ensuring stability, compliance, and smooth operations
                        </p>
                        <div class="social-icons teams-social-icons">
                            <ul class="list-unstyled">
                                <li><a href="" class="text-decoration-none red-hover"><i
                                            class="fa-brands fa-square-facebook  social-networks"></i></a></li>
                                <li><a href="" class="text-decoration-none red-hover"><i
                                            class="fa-brands fa-square-twitter social-networks"></i></a></li>
                                <li><a href="" class="text-decoration-none red-hover"><i
                                            class="fa-brands fa-linkedin social-networks"></i></a></li>
                                <li><a href="" class="text-decoration-none red-hover"><i
                                            class="fa-brands fa-square-pinterest social-networks"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 d-xl-block d-none"></div>
                <div class="col-xl-2 col-lg-3 col-md-2 col-sm-12 d-lg-block d-none">
                    <ul class="list-unstyled services-footer" data-aos="flip-left">
                        <li class="list-item footer-margin-left">
                            <h5 class="footer-link  footer-services-heading">
                                Services
                            </h5>
                        </li>
                        <li>
                            <i class="fa-solid fa-caret-right"></i>
                            <a href="index.html" class="text-decoration-none footer-link-p">
                                Threat Hunter
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-caret-right"></i>
                            <a href="about.html" class="text-decoration-none footer-link-p">
                                Incident Responder
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-caret-right"></i>
                            <a href="services.html" class="text-decoration-none footer-link-p">
                                Secure Managed IT
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-caret-right"></i>
                            <a href="teams.html" class="text-decoration-none footer-link-p">
                                Compliance
                            </a>
                        </li>

                        <li>
                            <i class="fa-solid fa-caret-right"></i>
                            <a href="testimonial.html" class="text-decoration-none footer-link-p">
                                Cyber Security
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-caret-right"></i>
                            <a href="pricing.html" class="text-decoration-none footer-link-p">
                                Disaster Planning
                            </a>
                        </li>
                        </ul>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 d-md-block d-none">
                            <ul class="list-unstyled support-footer" data-aos="flip-left">
                                <li class="list-item footer-margin-left">
                                    <h5 class="footer-link footer-services-heading">
                                        Support
                                    </h5>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="index.html" class="text-decoration-none footer-link-p">
                                        Support
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="contact.html" class="text-decoration-none footer-link-p">
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="services.html" class="text-decoration-none footer-link-p">
                                        Knowledge Base
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="about.html" class="text-decoration-none footer-link-p">
                                        About Us
                                    </a>
                                </li>
                        
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="faq.html" class="text-decoration-none footer-link-p">
                                        FAQ
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="testimonial.html" class="text-decoration-none footer-link-p">
                                        Partnerships
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="footer-list">
                                <div class="icon-list-box1" data-aos="flip-left">
                                    <ul class="list-unstyled contact-us-ul">
                                        <li class="list-item">
                                            <h5 class="footer-link footer-get-heading">
                                                Get in Touch
                                            </h5>
                                        </li>
                                        <li class="list-item position-reletive addres-list icon-list1">
                                            <div class="number"><a href="mailto:webmaster@example.com"
                                                    class="text-decoration-none footer-link-p ml-0"><span class="footer-additional">Email:
                                                    </span> info@redlight.com</a></div>
                                        </li>
                                        <li class="list-item position-reletive addres-list icon-list1">
                                            <div class="contact-number"><a href="tel:+4733378901"
                                                    class="text-decoration-none footer-link-p ml-0"><span
                                                        class="footer-additional">Phone:</span> +1 234 567 89 0 0</a></div>
                                        </li>
                                        <li class="list-item position-reletive addres-list icon-list1">
                                            <div class="contact-number"><a href="tel:+4733378901"
                                                    class="text-decoration-none footer-link-p ml-0"><span class="footer-additional">Fax:</span>
                                                    +1 ( 987 ) 654 321 9 9</a>
                                            </div>
                                        </li>
                                        <li class="list-item position-reletive addres-list icon-list1">
                                            <div class="contact-address"><a href="" class="text-decoration-none footer-link-p ml-0"><span
                                                        class="footer-additional">Addres: </span> King Street Melbourne,
                                                    3000, Australia</a></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="footer-bar text-center">
                            <div class="container">
                                <div class="row">
                                    <div class="footer-bar-content w-100 overflow-hidden">
                                        <p class="text-size-16 mb-0">
                                            Copyright ©2021 Redlight.com All Rights Reserved
                                        </p>
                                    </div>
                                </div>
                            </div>
    </div>
    </div>
</div>
