<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top d-flex">

    <a class="nav-link" href="/signup"> <b>Sign up</b></a>
    <a class="nav-link" href="/login"> <b> Log in</b></a>
    <a class="nav-link" href="/"> <b>home</b></a>
    <a class="nav-link" href="/newpost"> <b>newpost</b></a>
    <a class="nav-link" href="/editprofile"> <b>editprofile</b></a>
    <a class="nav-link" href="/profile"> <b> your profile</b></a>
   
</nav>