<% layout('layouts/boilerplates.ejs') %>


    <style>
        #body {
            font-family: Arial, sans-serif;
            background-color: #373636;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            overflow: hidden;
            color: #333;
        }

        #container {
            text-align: center;
            padding: 20px;
            background-color: #000000;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(182, 216, 214, 0.1);
            animation: fadeIn 1s ease-out;
        }

        img {
            width: 20rem;
            border-radius: 10px;
            margin-bottom: 20px;

        }

        h1 {
            font-size: 3rem;
            color: #ff4a4a;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2rem;
            color: #ffffff;
        }

        #back-button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 1rem;
            background-color: #343434;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            transition: background-color 0.3s ease;
        }

        #back-button:hover {
            background-color: #005296;
        }

        /* Animation for fade-in effect */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Responsive design */
        @media (max-width: 768px) {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }

            img {
                width: 270px;
                border-radius: 10px;

            }

            #container {

                padding: 20px;
                background-color: #373636;

            }
        }
    </style>


    <div id="body">

        <div id="container">
            <!-- Image placed here -->
            <img src="https://c8.alamy.com/comp/2B77KHJ/3d-under-construction-concept-2B77KHJ.jpg"
                alt="Under Construction Image">
            <h1>Under Construction</h1>
            <p>This page is currently under construction. Please check back later.</p>
            <button id="back-button" onclick="history.back()">Go Back</button>
        </div>

    </div>