<% layout("/layouts/boilerplates.ejs") %>
    <style>
        .f04 {
            min-height: 30rem;
        }

        .white {
            color: rgb(0, 0, 0);
        }

        .danger {
            background: white;
        }
    </style>
    <div class="row f04  home-header-section" style="display: flex; align-items: center; justify-content: center;">
        <div class="alert danger col-6 " role="alert">
            <h4 class="white"><i class="fa-solid fa-triangle-exclamation"></i> Code: <%= error.statuscode %> <br>
                    <%= error.message %>
            </h4>
        </div>
    </div>