<% layout("/layouts/boilerplates.ejs") %>
<link rel="stylesheet" type="text/css" href="/css/newlog.css">

    <!-- HEADER-SECTION -->
    <div class="home-header-section">
        <header class="header home-header-section">
            <div class="main-header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <a class="navbar-brand pt-0" href="/listings"><img src="/images/redlight-logo.png" alt=""
                                class="logo" /></a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item ">
                                    <a class="nav-link text-decoration-none navbar-text-color home-margin-top"
                                        href="/listings">Home</a>
                                </li>
                                <!-- <span class="sr-only">(current)</span> -->
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color" href="/und">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color" href="/und">Services</a>
                                </li>

                                <li class="nav-item dropdown redlight-dropdown ">
                                    <a class="nav-link dropdown-toggle " href="/und" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Blogs</a>
                                    <div class="dropdown-menu dropdown-content-redlight blogs-section-drop-down">
                                        <ul class="list-unstyled">
                                            <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="/und">Events</a></li>
                                            <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="/und">Up
                                                    coming Events</a></li>
                                            <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="/und">Blogs</a></li>
                                            <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="/und">Projects</a></li>
                                            <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="/und">Notice</a></li>

                                        </ul>
                                        </div>
                                        </li>
                                        <li class="nav-item navbar-text-color "><a class="nav-link text-decoration-none contact-us-margin navbar-text-color"
                                                href="/und">Courses</a></li>
                                        <li class="nav-item navbar-text-color "><a class="nav-link text-decoration-none contact-us-margin navbar-text-color"
                                                href="/und">Meetings</a></li>
                                        </ul>
                                        <hr>

                            <ul class="navbar-nav ">
                                <li class="nav-item dropdown redlight-dropdown">
                                    <a class="nav-link dropdown-toggle " href="/profile" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Profile</a>

                                    <div class="dropdown-menu dropdown-content-redlight">
                                        <ul class="list-unstyled">
                                            <% if(!curUser){%>
                                                <li class="nav-item"> <a class="dropdown-item nav-link" href="/login">Login</a>
                                                </li>
                                                <li class="nav-item"> <a class="dropdown-item nav-link" href="/signup">Sing
                                                        Up</a></li>
                                                <% } if(curUser){%>
                                                    <li class="nav-item"> <a class="dropdown-item nav-link" href="/profile">Profile</a></li>
                                                    <li class="nav-item"> <a class="dropdown-item nav-link" href="/logout">Log
                                                            out</a></li>
                                                    <% }%>

                                        </ul>
                                        </div>
                                        </li>
                                        </ul>

                        </div>
                        </nav>
                        </div>
                        </div>
                        </header>


    </div>
<!-- nav end -->
<!-- <div class="row mt-3">
        <div class="col-6 offset-3">
            <h1>Login</h1>
            <form action="/login" method="post" class="needs-validation " novalidate>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="email" required name="username" class="form-control" id="exampleInputEmail1">
                    <div class="invalid-feedback"> Give a valid Email</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" required name="password" class="form-control" id="exampleInputEmail1">
                </div>
                <button type="submit" class="btn btn-success mb-5">Login</button>
            </form>
        </div>
        </div> -->
        
        
        <!-- home loging -->
        
        <body>
        
            <section class="tint">
        
                <div class="tintt">
        
                    <div class="form_all">
        
                        <div class="form_left">
        
                            <h1>Welcome Home</h1>
        
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.</p>
        
                            <div class="btn">
        
                                <button>SIGN UP</button>
        
        
                            </div>
        
                        </div>
                        <div class="form_right">
        
                            <form action="/login" method="post" class="needs-validation " novalidate>
        
                                <h3>Sign In</h3>
        
                                <div class="input">
                                    <input type="email" required name="username" id="exampleInputEmail1"
                                        placeholder="Enter your Email">
                                    <input type="password" required name="password" id="exampleInputEmail1"
                                        placeholder="Enter your Password">
                                </div>
        
                                <div class="right_btn">
        
                                    <button type="submit" class="btn btn-success mb-5">SIGN IN</button>
                                </div>
        
                                <a href="">Forget password</a>
        
                            </form>
        
                        </div>

</div>
</div>
</section>






</body>





<!-- new -->

    <script>
        // Get the current page path
        const currentPath = window.location.pathname;

        const pathname = {
            '/profile/edit': 'editprofile',
            '/listings': 'Home',
            '/login': 'Login',
            '/profile': 'Profile',
            '/signup': 'Signup',
            '/account': 'Account',
            '/signup': 'Signup',
            '/signup': 'Signup',

                        };
                        // document.querySelectorAll('.nav-item').forEach(item => {
                        //     item.classList.remove('active');
                        // });
                        if (pathname[currentPath]) {
                            document.querySelector('.title').innerText = pathname[currentPath];

                        }
                        let navItem
                        if (currentPath == "/listings" || currentPath == "/account/promotion" || currentPath == "/account" || currentPath == "/profile") {
                            navItem = document.querySelector(`.nav-item a[href="${currentPath}"]`).parentElement
                        } else {
                            navItem = document.querySelector(`.nav-item a[href="${currentPath}"]`).parentElement.parentElement.parentElement.parentElement
                        }

                        if (navItem) {
                            navItem.classList.add('active');
                        }


    </script>