<% layout('layouts/boilerplates.ejs') %>


    <style>
        #body {
            font-family: Arial, sans-serif;
            background-color: #373636;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            overflow: hidden;
            color: #333;
        }

        #container {
            text-align: center;
            padding: 20px;
            background-color: #000000;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(182, 216, 214, 0.1);
            animation: fadeIn 1s ease-out;
        }

        img {
            width: 20rem;
            border-radius: 10px;
            margin-bottom: 20px;

        }

        h1 {
            font-size: 3rem;
            color: #ff4a4a;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2rem;
            color: #ffffff;
        }

        #back-button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 1rem;
            background-color: #343434;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            transition: background-color 0.3s ease;
        }

        #back-button:hover {
            background-color: #005296;
        }

        /* Animation for fade-in effect */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Responsive design */
        @media (max-width: 768px) {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }

            img {
                width: 270px;
                border-radius: 10px;

            }

            #container {

                padding: 20px;
                background-color: #373636;

            }
        }
    </style>

    <% layout("/layouts/boilerplates.ejs") %>
        <!-- HEADER-SECTION -->
        <div class="home-header-section">
            <header class="header home-header-section">
                <div class="main-header">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <a class="navbar-brand pt-0" href="/listings"><img src="/images/redlight-logo.png" alt=""
                                    class="logo" /></a>
                            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                                <span class="navbar-toggler-icon"></span>
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item ">
                                        <a class="nav-link text-decoration-none navbar-text-color home-margin-top"
                                            href="/listings">Home</a>
                                    </li>
                                    <!-- <span class="sr-only">(current)</span> -->
                                    <li class="nav-item">
                                        <a class="nav-link text-decoration-none navbar-text-color" href="/und">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-decoration-none navbar-text-color" href="/und">Services</a>
                                    </li>
    
                                    <li class="nav-item dropdown redlight-dropdown ">
                                        <a class="nav-link dropdown-toggle " href="/und" id="navbarDropdown2" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
                                        <div class="dropdown-menu dropdown-content-redlight blogs-section-drop-down">
                                            <ul class="list-unstyled">
                                                <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link"
                                                        href="/und">Events</a></li>
                                                <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link"
                                                        href="/und">Up
                                                        coming Events</a></li>
                                                <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link"
                                                        href="/und">Blogs</a></li>
                                                <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link"
                                                        href="/und">Projects</a></li>
                                                <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link"
                                                        href="/und">Notice</a></li>
    
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item navbar-text-color "><a
                                            class="nav-link text-decoration-none contact-us-margin navbar-text-color"
                                            href="/und">Courses</a></li>
                                    <li class="nav-item navbar-text-color "><a
                                            class="nav-link text-decoration-none contact-us-margin navbar-text-color"
                                            href="/und">Meetings</a></li>
                                </ul>
                                <hr>
    
                                <ul class="navbar-nav ">
                                    <li class="nav-item dropdown redlight-dropdown">
                                        <a class="nav-link dropdown-toggle " href="/profile" id="navbarDropdown"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Profile</a>
    
                                        <div class="dropdown-menu dropdown-content-redlight">
                                            <ul class="list-unstyled">
                                                <% if(!curUser){%>
                                                    <li class="nav-item"> <a class="dropdown-item nav-link"
                                                            href="/login">Login</a>
                                                    </li>
                                                    <li class="nav-item"> <a class="dropdown-item nav-link"
                                                            href="/signup">Sing
                                                            Up</a></li>
                                                    <% } if(curUser){%>
                                                        <li class="nav-item"> <a class="dropdown-item nav-link"
                                                                href="/profile">Profile</a></li>
                                                        <li class="nav-item"> <a class="dropdown-item nav-link"
                                                                href="/logout">Log
                                                                out</a></li>
                                                        <% }%>
    
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
    
                            </div>
                        </nav>
                    </div>
                </div>
            </header>


    <div id="body">

        <div id="container">
            <!-- Image placed here -->
            <img src="https://c8.alamy.com/comp/2B77KHJ/3d-under-construction-concept-2B77KHJ.jpg"
                alt="Under Construction Image">
            <h1>Under Construction</h1>
            <p>This page is currently under construction. Please check back later.</p>
            <button id="back-button" onclick="history.back()">Go Back</button>
        </div>

    </div>